# Práctica | Consultas simples con SELECT

## Estudiante: Franya Gutiérrez

Database usada: Northwind

# Ejercicios para resolver de manera independiente

## 1. Listar los productos cuyo stock sea menor a 10 unidades y ordenarlos por precio de mayor a menor.

In [ ]:
SELECT ProductName, UnitsInStock, UnitPrice
FROM Products
WHERE UnitsInStock < 10
ORDER BY UnitPrice DESC

## 2\. Mostrar el nombre de los clientes que sean de México, España o Argentina.

In [ ]:
SELECT Customers.CompanyName, Customers.ContactName, Customers.Country, Customers.City, Customers.Address, Customers.PostalCode, Customers.Phone
FROM Customers
WHERE Customers.Country = 'Mexico' OR Customers.Country = 'Spain' OR Customers.Country = 'Argentina'  
ORDER BY Customers.Country ASC

## 3\. Listar los pedidos hechos en 1997, mostrando el ID de pedido y la fecha..

In [ ]:
SELECT Orders.OrderID, Orders.OrderDate
FROM Orders
WHERE YEAR(Orders.OrderDate) = 1997

## 4\. Obtener la cantidad total de pedidos por cliente y mostrar solo aquellos con más de 20 pedidos.

In [ ]:
SELECT Customers.CompanyName, COUNT(Orders.OrderID) AS TotalPedidos
FROM Customers 
JOIN Orders ON Customers.CustomerID = Orders.CustomerID
GROUP BY Customers.CompanyName
HAVING COUNT(Orders.OrderID) > 20

## 5\. Mostrar el nombre de cada producto junto al nombre de su categoría (usar INNER JOIN).

In [ ]:
SELECT Products.ProductName, Categories.CategoryName
FROM Products
INNER JOIN Categories ON Products.CategoryID = Categories.CategoryID
ORDER BY Categories.CategoryName ASC

## 6\. Mostrar todos los empleados y, si tienen pedidos asignados, el número de pedidos (usar LEFT JOIN).

In [ ]:
SELECT Employees.FirstName, Employees.LastName, COUNT(Orders.EmployeeID) AS NumeroPedidos
FROM Employees
LEFT JOIN Orders ON Employees.EmployeeID = Orders.EmployeeID
GROUP BY Employees.FirstName, Employees.LastName
ORDER BY NumeroPedidos ASC

## 7. Mostrar el nombre y precio de los productos más caros de cada categoría.

In [ ]:
SELECT Categories.CategoryName, Products.ProductName, Products.UnitPrice
FROM Products
JOIN ( 
    SELECT Products.CategoryID, MAX(Products.UnitPrice)  AS PrecioMaximo
    FROM Products
    GROUP BY Products.CategoryID
) AS InfoMax

ON Products.CategoryID = InfoMax.CategoryID AND Products.UnitPrice = InfoMax.PrecioMaximo
JOIN Categories ON Products.CategoryID = Categories.CategoryID
ORDER BY Categories.CategoryName ASC

## 8. Mostrar el nombre de los clientes y la fecha de sus pedidos realizados entre el 1 de enero de 1997 y el 31 de diciembre de 1997.

In [ ]:
SELECT Customers.CompanyName, Orders.OrderDate
FROM Customers
JOIN Orders ON Customers.CustomerID = Orders.CustomerID
WHERE Orders.OrderDate BETWEEN '1997-01-01' AND '1997-12-31'
ORDER BY Customers.CompanyName ASC